@import './Fonts.css';

.App {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5pt;
}