.wr-Calendar input {
  padding: 6px 10px 5px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 24pt;
  letter-spacing: .5pt;
  text-transform: uppercase;
  border-width: 1px;
  width: 80%;
}

.wr-Calendar span {
  font-size: 18pt;
  font-weight: 700;
  letter-spacing: .5pt;
  text-transform: uppercase;
  margin-left: 2rem;
}

.wr-Calendar--fromWrapper, .wr-Calendar--toWrapper {
  display: inline-block;
  width: 550px;
}