.wr-header {
  margin: 3rem
}

.wr-header h1 {
  font-size: 60pt;
  font-weight: 400;
}

.wr-header h2 {
  font-size: 18pt;
  font-weight: 600;
}

.wr-header h1, .wr-header h2 {
  text-transform: uppercase;
  margin: 0
}