.wr-WindSpeedKey {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21pt;
}

.wr-WindSpeedKey rect {
  stroke: black;
  stroke-width: 1pt;
}

.wr-WindSpeedKey text {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
}