.wr-WindRose {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21pt;
}

.wr-WindRose circle {
  stroke: black;
  stroke-width: 1pt;
  fill: none;
}

.wr-WindRose path {
  fill: #042733;
}

.wr-WindRose text {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
}